.svg
  .loader  
    include components/logo-svg

#blind
  .loader
.container
  #logo.menu
    h2 Logo.
  #colour.menu
    h2 Color.
  #buttons.menu
    h2 Controls.
  #typography.menu
    h2 Typography.
  #iconography.menu
    h2 Iconography.
  #imagery.menu
    h2 Imagery.
  #layout.menu
    h2 Layout.


//- .scrolldown
//-   .circle
//-   a.arrow

//- Fixed Costco logo on top
//- include navigation-top

//- ul.fixed-menu
//-   li#logo-menu L.
//-   li#colour-menu C.
//-   li#buttons-menu B.
//-   li#typography-menu T.
//-   li#iconography-menu I.
//-   li#photography-menu P.
