#section-buttons.buttons.main
      
  .content

    // ===== Sections =====
    .section.sec-buttons
      article.section-article.buttons-article
              

        // =====Sections--CTA=====
        section.animated.delay
          .section-inner
            h1.section-inner__title.show-text Controls.
        section.button-content.button-stat#controls-primary-btns
          .row
            h3 Primary CTA
            .grid-25.grid-sm-100.button-description
              p The primary green CTA is used to indicate continuation to a subsequent page.
              h6 Specifications
              ul
                li Height: 40px;
                li Padding: 20px;
                li Font Size: 16px;
                li Font Weight: 700;
                li Stroke: 1px;

            .grid-70.grid-sm-100.button-container
              .button-grid-layout
                .button--container
                  //- Button component here
                  include components/button_comp
                    block button-title
                      h1.button--title Button 
                  
                    block button-annotation
                      .button__annotation-top-text 20px
                      .button__annotation-top-line
                      .button__annotation-left-text 40px
                      .button__annotation-left-line
                      .button__annotation-top-right-circle
                      .button__annotation-bottom-right-circle
                      .button__annotation-right-text 2px Radius Corners
                      

            //- Focused Button 
          .row
            .grid-25.grid-sm-100.button-description
              p Length of CTA Varies on product title, please maintain padding proportions as displayed.

            .grid-70.grid-sm-100.button-container.focus-button-container

              .button-grid-layout
                .button--container
                  include components/button_comp
                    block button-title
                      h1.button--title Primary 
                    block button-desc-container
                      .button_desc_container
                        .button__desc Fill: #4CA90C

                .button--container
                  include components/button_comp
                    block button-title
                      h1.button--title Hover 
                    block button-desc-container
                      .button_desc_container
                        .button__desc Fill: #8CC764

                .button--container
                  include components/button_comp
                    block button-title
                      h1.button--title Disabled
                    block button-desc-container
                      .button_desc_container
                        .button__desc Border/Fill: #E6F3DD

                .button--container
                  include components/button_comp
                    block button-title
                      h1.button--title Primary
                    block button-desc-container
                      .button_desc_container
                        .button__desc Fill: #FFFFFF
                        .button__desc Text: #4CA90C
                        .button__desc Border: #4CA90C

                .button--container
                  include components/button_comp
                    block button-title
                      h1.button--title Hover
                    block button-desc-container
                      .button_desc_container
                        .button__desc Fill: #B2CFE5
                        .button__desc Text: #4CA90C
                        .button__desc Border: #4CA90C

                .button--container
                  include components/button_comp
                    block button-title
                      h1.button--title Disabled
                    block button-desc-container
                      .button_desc_container
                        .button__desc Fill: #B2CFE5
                        .button__desc Text: #D9ECCC
                        .button__desc Border: #D9ECCC

        hr
        // =====Sections--btn-example =====
        section.button-content.nav-bar
          h3 Navigation Bar
          .grid-25.grid-sm-100.button-description
            p This illustrates the main navigation menu’s appearance when the user hovers over a menu item.
          .grid-70.grid-sm-100.button-container
            .nav-container
              nav
                ul.full-nav
                  li 
                    img.logo(src='img/costco/costco-logo.png', alt='')
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li Greeting Cards
                  li Wall Decor
                  li Photo Gifts
                  li
                    button Upload Photos
                  li
                    div.cart
              p Navigation Bar
            .nav-container
              nav
                ul
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li.menu-active Greeting Cards
                  li Wall Decor
                  li Photo Gifts
              p Active Hover State
            .nav-container
              nav
                ul
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li Greeting Cards
                  li.menu-active Wall Decor
                    ul.sub-menu
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                  li Photo Gifts
              p Small Dropdown
            .nav-container
              nav
                ul
                  li My Photos
                  li My Projects
                  li Photo Books
                  li Canvas Prints
                  li Metal Prints
                  li Greeting Cards
                  li Wall Decor
                  li.menu-active Photo Gifts
                    ul.sub-menu.large-dropdown
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery

                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery

                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
                      li Art &amp; Image Gallery
                      li Disney Image Gallery
                      li Sports Gallery
              p Large Dropdown
        hr
        //- section.button-content.nav-bar#controls-refresh
        //-   h3 Navigation Bar Refresh
        //-   .grid-25.grid-sm-100.button-description
        //-     p A new main navigation menu design based on the one used on Costco.com.
        //-   .grid-70.grid-sm-100.button-container
        //-     .nav-container.refresh
        //-       nav
        //-         .top-menu
        //-           p
        //-             span My Warehouse:
        //-             |  Camel Mountain, CA |
        //-             span  Change
        //-           ul
        //-             li Help &nbsp;&nbsp;|
        //-             li Contact Us &nbsp;&nbsp;|
        //-             li Back to Costco.com &nbsp;&nbsp;|
        //-             li Help
        //-         img.logo(src='img/costco/costco-logo.png', alt='')
        //-         ul.sign-in
        //-           li Sign in / Register
        //-           li
        //-             div.cart
        //-         ul.refresh-menu
        //-           li My Photos
        //-           li My Projects
        //-           li Photo Books
        //-           li Canvas Prints
        //-           li Metal Prints
        //-           li Greeting Cards
        //-           li Wall Decor
        //-           li Photo Gifts
        //-           li
        //-             button Upload Photos
        //- hr

        //- Tabs and Breadcrumbs

        section.button-content
          .row
            .grid-25.grid-sm-100.button-description
                h3 Tabs
                p This element is used in the product preview page to change the view of the product image.
            .grid-70.grid-sm-100.button-container.tabs
              .row
                ul
                  li.tab-selected Front
                  li Back
                p Default
              .row
                ul
                  li.tab-selected Front
                  li.tab-selected Back
                p Hover
          .row
            .grid-25.grid-sm-100.button-description
                h3 Breadcrumbs
                p Breadcrumbs are displayed below the header banner and above the rest of the page content.
            .grid-70.grid-sm-100.button-container.breadcrumbs
              .row
                ul
                  li Grocery
                  li Fresh Food
                  li Produce
                  li Fresh Fruit
                p Default
              .row
                ul
                  li Grocery
                  li.tab-selected Fresh Food
                  li Produce
                  li Fresh Fruit
                p Hover

        hr
        //- Radio Buttons, Check Boxes

        section.button-content.marketing-buttons
          .row
            .grid-25.grid-sm-100.button-description
                h3 Radio Buttons
                p Sam’s Club’s primary color is used to display the active selection.
            .grid-70.grid-sm-100.button-container.radio-buttons
              .row
                span.radio-button
                h4.button--title Material Finish
                p Default
              .row
                span.radio-button.radio-active
                h4.button--title.active-text Material Finish
                p Active
          .row
            .grid-25.grid-sm-100.button-description
                h3 Check Boxes
                p Sam’s Club’s primary color is used to display the active selection.
            .grid-70.grid-sm-100.button-container.checkbox
              .row
                  span Default
                  h4.button--title Theme Selection
              .row
                  span.checkbox-active Active
                  h4.button--title.active-text Theme Selection
          .row
            .grid-25.grid-sm-100.button-description
              h3 Theme Selection
              p Color themes are displayed in blocks referencing a theme’s primary color.
              h6 Border Specifications
              ul
                li active selection – border: 3px solid #d9d9d9;

            .grid-70.grid-sm-100.button-container.theme-selection
              .row
                h5 Color Themes
                .color-1 
                  p Active
                .color-2
                  p  Default
                .color-3
        //- hr
        //- section.button-content.hero-section#controls-hero
        //-   h3 Homepage Hero Slider
        //-   .row
        //-     .grid-25.grid-sm-100.button-description
        //-         p The main hero slider on the homepage is controlled by left and right arrows on either ends of the image.  
        //-           br 
        //-           br 
        //-           | The numbered controls on the bottom of the banner provides as an alternate way to cycle through the banners as well as indicate which one is being viewed.
        //-     .grid-70.grid-sm-100.button-container
        //-       .slider
        //-         .top-line
        //-         p.top-text 2000px
        //-         .left-line
        //-         p.left-text 630px

        //-         .left-arrow
        //-         .right-arrow

        //-         ul
        //-           li 1
        //-           li.selected 2
        //-           li 3
        //-           li 4
        //-           li 5
        //-           li 6
        //-           li
        //-   .row
        //-     .grid-25.grid-sm-100.button-description
        //-         h3 Product Thumbs
        //-         p This element is used in the product details page to navigate through the preview images of a product.  
        //-     .grid-70.grid-sm-100.button-container.product-thumbs
        //-       span.prev
        //-       ul
        //-         li.current
        //-         li
        //-           .top-text
        //-             p 67px
        //-           .top-line
        //-         li
        //-         li
        //-       span.next
        //- hr
        //- section.button-content.tiles-section#controls-tiles
        //-   .row
        //-     .grid-25.grid-sm-100.button-description
        //-         h3 Product Selection
        //-         p These tiles are mainly used in SKU pages to select from different types of products. 
        //-           br 
        //-           br 
        //-           | Four-item selections are laid out at 2x2. Default tile layout will display three items per row.
        //-     .grid-50.grid-sm-100.button-container
        //-       .tile
        //-         .top-text
        //-           p 202px
        //-         .top-line
        //-         .left-text
        //-           p 221px
        //-         .left-line
        //-         h5 15oz. Photo Mugs
        //-       .tile
        //-         h5 11oz. Photo Mugs
        //-       .tile
        //-         h5 15oz. Collage Photo Mugs
        //-       .tile
        //-         h5 15oz. Collage Photo Mugs
        //-   .row.tile-states
        //-     .grid-25.grid-sm-100.button-description
        //-         h3 Tile States
        //-         h6 Border Specifications
        //-         ul
        //-           li active selection – border: 3px solid #0060A9;
        //-           li on-hover – border: 3px solid #64c8ff;
        //-           li default – border: 1px solid #b2b2b2;
        //-     .grid-70.grid-sm-100.button-container
        //-       .tile
        //-         h5 Premium Layflat
        //-         p Active Selection
        //-       .tile
        //-         h5 Custom Photo Cover
        //-         p On-hover
        //-       .tile
        //-         h5 Padded Leather Cover
        //-         p Default View

      .section-next
