#section-logo.logo.main

  .content

    // ===== Sections =====
    .logo-content
      article.section-article.logo-article

        .section__title.animated.delay
            h1.section-inner__title.show-text Logo.
              
        //- Logo - Variations
        section.row
          .grid-30.grid-smd-100.logo__desc-wrapper
            .logo__desc__container
              .title-index-sm 1
              .logo__desc
                p.title Horizontal Logotype
                p Use whenver possible
            .logo__desc__container
              .title-index-sm 2
              .logo__desc
                p.title Horizontal Logotype
                p Use on darker backgrounds

          .grid-70.grid-smd-100
            .logo__img-container
              span.title-index 1
              img(src="img/samus/logo/samus-logo-1.png", alt="")
              
            .logo__img-container
              span.title-index 2
              img(src="img/samus/logo/samus-logo-2.png", alt="")

        hr

        //- Logo - Padding
        section.row#logo_padding
          .grid-30.grid-smd-100.logo__desc-wrapper
            .logo__desc__container
              h3 Recommended Practices
              p Try to keep at least one “M” worth of space between the logotype and other elements.

          .grid-70.grid-smd-100
            .logo__img-container.logo__img-container-padding
              img(src="img/samus/logo/samus-logo-padding.png", alt="")
