#section-iconography.iconography.main
      
  .content

    // ===== Sections =====
    .iconography-content
      article.section-article.iconography-article.animated
              
        // =====Sections--iconography-example =====
        .animated.delay
          .section-inner
            h1.section-inner__title Iconography.

        section.iconography-content
          .row
            .grid-25.grid-sm-100.icon-description
              h3 Navigation Bar Icons
              p These are icons are primarily found in the navigation bar
            .grid-75.grid-sm-100.icon-container
              .row.nav-icons
                img(src='img/icons/confirmation.png', alt='')
          .row
            .grid-25.grid-sm-100.icon-description
              h3 Product Details Page
              p These icons are used in the SKU pages to provide more information about a product type.
            .grid-75.grid-sm-100.icon-container
              .row
                img(src='img/icons/tile-1.png', alt='')
                img(src='img/icons/tile-2.png', alt='')
                img(src='img/icons/tile-3.png', alt='')
                img(src='img/icons/tile-4.png', alt='')
                img(src='img/icons/tile-5.png', alt='')
                img(src='img/icons/tile-6.png', alt='')
                img(src='img/icons/tile-7.png', alt='')
