#section-colour.colour.main
         
  .content
    //- include components/color-circle
    // ===== Sections =====
    .colour-content
      article.section-article.colour-article.animated.delay
              
        // =====Sections--iconography-example =====
        section.row.animated.delay
          h1.section-inner__title Color.

        section.row
          .grid-30.grid-smd-100.grid-sm-100.colour-description
            h2 Primary
          .grid-70.grid-smd-100.grid-sm-100.colour-container

            .colour-grid

              .circle-container.primary-color__1
                .circle #1977DE
                .circle #5D9EE6

              .circle-container.primary-color__2
                .circle #4CA90C
                .circle #80C153

              .circle-container.primary-color__3
                .circle #EC7202

        section.row
          .grid-30.grid-smd-100.grid-sm-100.colour-description
            h2 Secondary
          .grid-70.grid-smd-100.grid-sm-100.colour-container

             .colour-grid

              .circle-container.secondary-color__1
                .circle #424242
                .circle #797979

              .circle-container.secondary-color__2
                .circle #ED0339

              .circle-container.secondary-color__3
                .circle #F6F6F6

        section.row
          .grid-30.grid-smd-100.grid-sm-100.colour-description
            h2 Background
          .grid-70.grid-smd-100.grid-sm-100.colour-container

            .colour-grid

              .circle-container.background-color__2
                .circle #EEF6FC

              .circle-container.background-color__1
                .circle #FFFFFF

      .section-next
