#section-layout.layout.main
          
  .content

    // ===== Sections =====
    .layout-content
      article.section-article.layout-article.animated
              
        // =====Sections--iconography-example =====
        .animated.delay.row
          h1.section-inner__title Layout.

        //- Layout - Grid
        section.row.layout_grid
          .grid-25.grid-sm-100.layout__desc
            h3 Homepage
            p The homepage consists of a full-width hero banner, featured products and two call to action badges on the bottom.
          
          .grid-75.grid-sm-100.maingrid
            .layout-background
              .grid-100.layout-container 100%
              .grid-100.layout-annotation
                span 10px
                span 1170px
                span 10px
                .grid-100.layout-annotation-line
                  span
                  span
                  span
                  span
            .layout-gridin
              .layout-background
                .grid-33.layout-container 33%
                .grid-33.layout-container 33%
                .grid-33.layout-container 33%
              .layout-background
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%
              .layout-background
                .grid-50.layout-container 50%
                .grid-50.layout-container 50%
              

        hr
        //- Layout - Mixing Grid
        section.row.layout_mixing
          .grid-25.grid-sm-100.layout__desc
            h3 Search Results Page
            p Contains a 4-column layout, displayed without gutters.
          .grid-75.grid-sm-100.maingrid
            .layout-background
              .grid-100.layout-annotation
                span 10px
                span 1170px
                span 10px
                .grid-100.layout-annotation-line
                  span
                  span
                  span
                  span
                  
              .grid-100.layout-gridin
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%
                .grid-25
                  .layout-container 25%    


        hr
        //- Layout - Nesting Grid
        section.row.layout_nesting
          .grid-25.grid-sm-100.layout__desc
            h3 Grid System
            p Our grid system is composed of a twelve-column grid with a 20px gutter between columns and a 10px gutter on the grid edges.
          
          .grid-75.grid-sm-100.maingrid
            .layout-background
              .grid-100.layout-annotation
                span 10px
                span 1170px
                span 10px
                .grid-100.layout-annotation-line
                  span
                  span
                  span
                  span
            
            .wmargin
              .layout-background.layout-gridin      
                .grid-100
                  .layout-container.layout-container-tall 100%

            .wmargin
              .layout-background.layout-gridin
                .grid-100
                  .grid-50  
                    .layout-container 50%
                  .grid-50  
                    .layout-container 50%

            .wmargin
              .layout-background.layout-gridin
                .grid-100
                  .grid-33  
                    .layout-container 33%
                  .grid-33  
                    .layout-container 33%
                  .grid-33  
                    .layout-container 33%

            .wmargin
              .layout-background.layout-gridin
                .grid-100
                  .grid-25  
                    .layout-container 25%
                  .grid-25  
                    .layout-container 25%
                  .grid-25  
                    .layout-container 25%
                  .grid-25  
                    .layout-container 25%

        hr
        //- Business - Desktop
        section.row.layout_desktop#layout_desktop
          .grid-25.grid-sm-100
            h3 Business Card Page
            p Because of varying product types, the business card page has a unique layout..

            p.spacefmb It contains, a hero banner, three ways to start a design project, three product types, industry, and a marketing footer banner.
          
          .grid-75.grid-sm-100.maingrid
            .layout-background
              .grid-100.layout-container 100%
              .grid-100.layout-annotation
                span 10px
                span 1170px
                span 10px
                .grid-100.layout-annotation-line
                  span
                  span
                  span
                  span
            .layout-gridin
              .layout-background
                .grid-33.layout-container 33%
                .grid-33.layout-container 33%
                .grid-33.layout-container 33%

            .layout-background    
              .grid-33.layout-container 33%
              .grid-33.layout-container 33%
              .grid-33.layout-container 33%

            .layout-gridin
              .layout-background
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%

            .layout-gridin
              .layout-background
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%
                .grid-25.layout-container 25%

            .layout-gridin
              .layout-background
                .grid-100.layout-container 100%
            

      .section-next
