#section-imagery.imagery.main

  .content

    // ===== Sections =====
    .imagery-content
      article.section-article.imagery-article.animated
              
        // =====Sections--imagery-example =====
        .animated.delay
          .section-inner
            h1.section-inner__title Imagery.

        section
          .grid-25.grid-smd-100
            h3 Banner Details
            p Home page marketing banners are displayed at full width.
            h4.imagery-title-sm Image Specifications
            p.imagery-desc-sm Full size banner: 2000px x 630px 
                              br 
                              | Text area: 910px 
                              br 
                              | Overhang Detail: 60px height

          .grid-75.grid-smd-100
            .row
              img(src='img/samus/banners.png', alt='')
