// ===== Section =====
#section-typography {
	background-color: #fdfdfd;
	// ===== Section - Logo - Article =====
	.lettera {
		color: #ededed;
		font-size: 750px;
		font-weight: bold;
		position: absolute;
		line-height: 1;
		margin: 50px 0 0 -100px;
		padding: 0;
	}

	.fontname {
		color: #444444;
		line-height: 0;
		margin: 18% 0 0 60px;
		padding: 0;
		position: absolute;
		width: 300px;
		
		.fontnameak {
			margin: 0 0 90px 0;	
			
			h1.aktiv{
				font-size: 70px;
				font-weight: bold;
				text-align: left;
			}
			h2.helvetica {	
				font-size: 36px;
				font-style: normal;
				font-weight:300;
				text-align: left;
			}
		}
	}
}

.section-article {

	section {
		margin-bottom: 50px;
		
		.section-inner {
			max-width: 1020px;
			margin: 0 auto;
			
			.section-inner__title {
				color: #1977de;
				text-align: left;
				font-weight: bold;
			}
			
			.section-inner__desc {
				text-align: center;
				width: 60%;
				margin: auto;
			}
		}
	}
}

.typography-content {
	display: flex;
	flex-wrap: wrap;
	max-width: 1020px;
	margin: 0 auto;
	
	.fontname{
		display: none;
	}			
}

.tgrap {
	display: flex;
	overflow: hidden;
	margin: 10px;

	.typo-description {
		h1 {
			align-items: center;
			color: #dedede;
			display: flex;
			font-size: 36px;
			font-weight: bold;
			justify-content: flex-end;
			letter-spacing: -1px;
			margin: auto;
			text-align: right;
		}
	}
}

.typo_desc_container{
	color: #434343;
	font-size: 12px;		
}

.headings {
	margin: 10% auto 0;
	display: flex;

	.second {
		margin: auto;
		text-align: center;

		h3 {
			color: #444;
			margin: auto;
			text-align: center;	
		}

		h4{
			text-align: center;
			color: #444;
		}

		.hbody{
			width: 392.5px;
			height: 72px;
			font-size: 22px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.09;
			text-align: center;
			color: #444444;
			margin: auto;
		}
	}

	.thirt{
		margin: 10% 0 5%;
		text-align: center;

		h1 {
			text-align: center;
		}

		h4 {
			color: #444;
			margin: 0 20%;
			text-align: center;
		}
	}
}

.headingstop {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10% auto 0;
	
	.first{
		margin: auto;
		text-align: center;
		h1 {
			margin: 0;
			text-align: center;
		}
		h3 {
			color: #444;
			margin: auto;
			text-align: center;
		}

		.hbody {
			width: 392.5px;
			height: 72px;
			font-size: 22px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.09;
			text-align: center;
			color: #444444;
			margin: auto;
		}
	}
}

.typo-container {
	align-self: center;
	margin-left: 7%;

	h1, h2, h3, h4, .hbody, .hgray {
		text-align: left;
	}

	h1 {
		color: #444;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0.25px;
		line-height: auto;
		margin: 0;
	}

	h2 {
		color: #444;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0.25px;
		line-height: auto;
		margin: 0;
	}

	h3 {
		color: #444;
		font-size: 17px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: auto;
		margin: 0;
	}

	h4 {	
		color: #444;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: auto;
		margin: 0;
	}

	.hlink {
		color: #444;
		font-size: 17px;
		letter-spacing: 1.5px;
		line-height: auto;
	}

	.hbody {
		color: #444;
		font-size: 17px;
	    letter-spacing: 0;
		line-height: auto;
	}
}
.section-article .section-inner.timage{
	text-align: center;
	margin: 50px auto;
	width: 100%;
	.timage2{
		margin: 0 1.5%;
	}
	img{
		padding: 20px;
		width: 85%;
	}

    h2{
    	color: #333;
    	font-size: 24px;
    	font-weight: bold;
	    margin: 86px auto 0;
    	text-align: center;

    }
    .sqb{
    	border-top: 0px;
  		border: solid #d5d5d5;
		border-width: 0 1px 0 1px;
    	height: 333px;
    	margin: 0 1.5%;

    	h2{
    		color: #1977de;
    	}
    }

    .sqg{
    	background-color: #ededed;
  		border: solid 1px #d5d5d5;
  		height: 333px;
    	margin: 0 1.5%;
    }

    .sqg2{
    	background-color: #ededed;
  		border: solid 1px #d5d5d5;
  		height: 333px;
    	margin: 0 1.5%;
    	
    	img{
    		margin: 25px 0 0; 
    	}
    	.rectangle{
    		display: flex;
    		height: 6px;
    		justify-content: center;
    		margin: auto;
    		width: 100%;

	    	.sqgm1{
	    		width: 23px;
				height: 6px;
				background-color: #adadad;
				border: solid 1px #d5d5d5;
	    	}
	    	.sqgm2{
	    		width: 23px;
				height: 6px;
				background-color: rgba(173, 173, 173, 0.8);
				border: solid 1px #d5d5d5;
	    	}
	    	.sqgm3{
	    		width: 23px;
				height: 6px;
				background-color: rgba(185, 185, 185, 0.8);
				border: solid 1px #d5d5d5;
	    	}
	    }	
    	h2{
    		margin: 14px 0 0;
    	}

		.hbody{
			margin: 0 0 30px;
		}

    	.timagebox{
    		align-content: center;
    		display: flex;
    		flex-direction: row;
    		justify-content: space-around;
    		margin: 20px 0;
    		width: 100%;

	    	.hlink{
	    		color: #1977de;
	    		text-align: left;
	    		padding: 4px 20px;
	    	}
			.buttoncn{
	    		background:#d8d8d8;
				border-radius: 2px;
	    		color: white;
		   		cursor: pointer;
	    		height: 30px;
	    		text-align: center;
	    		padding-top: 4px;
	    		width: 126px;
	    	}
	    }
    }

    .hdescription{
    	font-size: 12px;
    	margin: 10px 0;
    	text-align: left;
    }
    .twoseven{
    	padding: 10px;
    	display: flex;
    	flex-direction: column; 

    	.tsconatiner{
	    	background-color: rgba(0, 0, 0, 0.02);
			border: solid 1px rgba(0, 0, 0, 0.03);
	    	height: 270px;
	    	text-align: left;
	    	padding: 20px;

	    	h2{	
	    		color: #444;
	    		margin: 10px 0;
		    	text-align: left;
	    	}

	    	.hlink{
	    		color: #37affc;
	    	}

	    }

	    .oeconatiner{
	    	background-color: rgba(0, 0, 0, 0.02);
			border: solid 1px rgba(0, 0, 0, 0.03);
	    	height: 180px;
	    	text-align: left;
	    	padding: 20px;

	    	h2{	
	    		color: #444;
	    		margin: 10px 0;
		    	text-align: left;
    		}
		    h2.black{
	    		color: #000;
		    }

	    }
	    .oeconatiner.oesecond{
	    	display: flex;
	    	
	    	.rule{
	    		width: 16%;
	    		img{
	    			width: 50%;
				    padding: 0;
				    margin: 70px auto 0;
				    display: block;
	    		}
	    	}
	    	.h2description{
	    		width: 84%;
	    		
	    		.hbody{
	    			margin-left:-10px ;
	    		}	
	    	}

	    }

    }
    ul{
			padding-left: 40px;
	    -webkit-padding-start: 40px;
    }
    ul, li{
	    margin: 0;
			list-style: disc;
    }
}

@media (max-width: #{$med-sm-desktop}) {
	#firts-sectionA .fontname {
		opacity: 0;
	}

	#firts-sectionA article .fontname {
	color: #444;
    opacity: 1;
    margin: 10px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 320px;
	    h1{
	    	margin: 0 0 0 10px;
	    	width: 100%;
	    }
	}
	.row{
		padding: 0 30px;
	}
}

@media (max-width: #{$small-desktop}) {
	#section-typography.typography.main .content .section-article .typography-content .tgrap{
		display: block;

		.typo-description {
			
			h1 {
				justify-content: flex-start;
				margin-top: 40px;
				padding: 0 30px;
				text-align: left;
			}
		}
		
		.typo-container {
			padding: 0 30px;
			margin: 0;
		}
	}

	.section.sec-blue .back {
		padding: 5% 5%;	
	}
	
	#section-typography .lettera{
		margin: auto;
		text-align: center;
	}

	#section-typography .section-article section .section-inner .section-inner__title {
		text-align: center;
		padding: 0 0 0 30px;
	}

	.row{
		padding: 0 30px;
	
		.timage{
			text-align: center;
			img{
				width: 100%;	
			}
		}
	}

	#section-typography .fontname{
		display:none;
	}
}

@media (max-width: #{$fablet}) {
	
	#firts-sectionA article .fontname{
		flex-wrap: wrap;
	}

	#section-typography .lettera{
		font-size: 380px;
		width: 100%;
	}

	.letters{
	    text-align: center;
	    margin: auto;
	    width: 100%;
	}

	.section-article section .section-inner .section-inner__title{
		padding: 0;
	}
}